<!DOCTYPE html>
<html>
    <head>
        <title>Dosen Login</title>
         <link rel="stylesheet" href="/Resources/css/dosen-login.css">
    </head>
    <body>
        <div id="login-frame">
            <div id="logo-wombat">
                <img src="/Resources/Assets/wombat-logo.png" alt="Wombat Logo">
            </div>

            <div id="login-body">
                <p>Login Dosen</p>
                <form>
                    <div id="input-group">
                        <img src="/Resources/Assets/Email-icon.png" id="input-icon">
                        <input type="email" id="user-email" name="email" placeholder="Wombat Account">  
                    </div>

                    <div id="input-group">
                        <img src="/Resources/Assets/Password-icon.png" id="input-icon">
                        <input type="password" id="user-password" name="password" placeholder="Password">
                    </div>

                    <button type="submit" id="btn-login">Login</button>
                </form>
            </div>
            
            <div id="footer-login">
                <div id="remember-group">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                
                <a href="forgotpassword.html">Forgot password?</a>
            </div>
            <hr class="divider">

            <div id="footer">
                <p>
                    <strong>&#xA9;2026 Wombat University | <i>portal.</i>wombat.ac.id</strong> <br>
                    Butuh Bantuan? | Kebijakan Privasi | Help Desk
                </p>
            </div>
        </div>
    </body>
</html>