<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
         <link rel="stylesheet" href="/Resources/css/login-page.css">
    </head>
    <body>
        <div id="login-frame">
            <div id="logo-wombat">
                <img src="/Resources/Assets/wombat-logo.png" alt="Wombat Logo">
            </div>

            <div id="login-body">
                <p>Login Sebagai</p>
                <a href="Dosen.html" id="dosen-btn">Dosen</a>
                <a href="Mahasiswa.html" id="mahasiswa-btn">Mahasiswa</a>
            </div>

            <hr class="divider">

            <div id="footer">
                <p>
                    <strong>&#xA9;2026 Wombat University | <i>portal.</i>wombat.ac.id</strong> <br>
                    Butuh Bantuan? | Kebijakan Privasi | Help Desk
                </p>
            </div>
        </div>
    </body>
</html>