<div class="menu-luxury-grid">
            
            <a href="#" class="menu-item-card">
                <div class="icon-circle"><i class="bi bi-person-circle"></i></div>
                <p>PROFIL MAHASISWA</p>
            </a>

            <a href="#" class="menu-item-card">
                <div class="icon-circle"><i class="bi bi-calendar2-check"></i></div>
                <p>KEHADIRAN & PRESENSI</p>
            </a>

            <a href="#" class="menu-item-card">
                <div class="icon-circle"><i class="bi bi-pencil-square"></i></div>
                <p>PENGISIAN FRS</p>
            </a>

            <a th:href="@{/web/history}" class="menu-item-card">
                <div class="icon-circle"><i class="bi bi-file-earmark-text"></i></div>
                <p>HISTORY FRS</p>
            </a>

            <a href="#" class="menu-item-card">
                <div class="icon-circle"><i class="bi bi-mortarboard-fill"></i></div>
                <p>JADWAL PERKULIAHAN</p>
            </a>

            <a href="#" class="menu-item-card">
                <div class="icon-circle"><i class="bi bi-chat-square"></i></div>
                <p>ANGKET DOSEN</p>
            </a>

        </div>
